{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<main class="container-fluid">
    <section class="hero-image-container row">
        <div class="col"></div>
    </section>
    <section class="row">
        <h2>Categories</h2>
    </section>
    <section class="row">
        <h2>Frequently Asked Questions</h2>
    </section>
</main>
{% endblock %}