{% extends "base.html" %}
{% block extra_title %}| Home{% endblock %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="indicator" class="carousel slide mb-5" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#indicator" data-slide-to="0" class="active"></li>
        <li data-target="#indicator" data-slide-to="1"></li>
        <li data-target="#indicator" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <picture>
                <source media="(max-width: 575px)" srcset="{{ MEDIA_URL }}slide-console-small.png">
                <source media="(max-width: 991px)" srcset="{{ MEDIA_URL }}slide-console.png">
                <source media="(min-width: 992px)" srcset="{{ MEDIA_URL }}slide-console-large.png">
                <img class="d-block w-100" src="{{ MEDIA_URL }}slide-console.png" alt="gaming consoles advertisment">
            </picture>
            <div class="carousel-caption text-left text-sm-center">
                <a class="btn btn-sm btn-dark" href="{% url 'consoles' %}">Shop Now</a>
            </div>
        </div>
        <div class="carousel-item">
            <picture>
                <source media="(max-width: 991px)" srcset="{{ MEDIA_URL }}slide-blue-screen-small.png">
                <source media="(min-width: 992px)" srcset="{{ MEDIA_URL }}slide-blue-screen-large.png">
                <img class="d-block w-100" src="{{ MEDIA_URL }}slide-blue-screen.png" alt="reliability statement">
            </picture>
            <div class="carousel-caption text-left text-sm-center">
                <a class="btn btn-sm btn-dark" href="{% url 'inspections' %}">Learn More</a>
            </div>
        </div>
        <div class="carousel-item">
            <picture>
                <source media="(max-width: 799px)" srcset="{{ MEDIA_URL }}slide-sale.png">
                <source media="(min-width: 992px)" srcset="{{ MEDIA_URL }}slide-sale-large.png">
                <img class="d-block w-100" src="{{ MEDIA_URL }}slide-sale.png" alt="sale advertisment">
            </picture>
            <div class="carousel-caption">
                <a class="btn btn-large btn-dark" href="{% url 'products' %}?sale=true">Shop Now</a>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#indicator" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#indicator" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<section class="text-dark-b my-4">
    <div class="container p-4 text-center">
        <div>
            <h2 class="index-h2">Featured Gaming Laptops</h2>
        </div>
        <div class="col-12">
            <div class="row">
                {% for laptop in laptops %}
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="row custom-margin">
                        <div class="container p-4">
                            <div class="card border-0 mb-3 p-3">
                                <div class="row g-0">
                                    <div class="col-12 text-center">
                                        {% if laptop.image %}
                                        <a href="{% url 'laptop_detail' laptop.id %}">
                                            <img class="card-img-top img-fluid" src="{{ laptop.image.url }}" alt="{{ laptop.name }}">
                                        </a>
                                        {% else %}
                                        <a href="{% url 'laptop_detail' laptop.id %}">
                                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ laptop.name }}">
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="text-center user-select-none">
                                {{ laptop.brand }} {{ laptop.series }}
                            </div>
                            <div class="text-center user-select-none">
                                {{ laptop.model }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="text-white forest">
    <div class="container p-4">
        <div class="border-white">
            <div class="col-12 text-center">
                <h3 class="pt-2 display-5">
                    <strong>Why choose TechCycle?</strong>
                </h3>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-6 p-3">
                        <p>By Buying used electronics, you save a significant amount of money compared to purchasing
                            brand
                            new devices.</p>
                    </div>
                    <div class="col-12 col-md-6 p-3">
                        <p>Each device undergoes thorough inspections and repairs to meet our strict standards,
                            guaranteeing reliable performance.</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-6 p-3">
                        <p>
                            By giving a second life to these devices, you contribute to the preservation of our planet's
                            resources and minimize the carbon footprint associated with manufacturing new products.</p>
                    </div>
                    <div class="col-12 col-md-6 p-3">
                        <p>Our dedicated customer service team is ready to assist you throughout your purchase journey
                            and
                            address any concerns or inquiries.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- faq section -->
<section class="text-dark-b my-4">
    <div class="container p-4">
        <div class="col-12">
            <h2 class="index-h2">Frequently asked questions</h2>
        </div>
        <div class="col-12">
            <div id="accordion">
                {% for faq in faqs %}
                <div class="accordion-item">
                    <div class="accordion-header" id="heading_{{ faq.id }}">
                        <h5 class="mb-0">
                            <a class="btn btn-accordion accordion-toggle stretched-link collapsed" data-toggle="collapse"
                                data-target="#collapse{{ faq.id }}" aria-expanded="true"
                                aria-controls="collapse{{ faq.id }}">
                                {{ faq.question }}
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </h5>
                    </div>
                    <div id="collapse{{ faq.id }}" class="collapse"
                        data-parent="#accordion">
                        <div class="accordion-body text-white">
                            {{ faq.answer }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- faq section -->


<section class="text-dark-b my-4 d-lg-none">
    <div class="container p-4 text-center">
        <div class="col-12 pb-5">
            <h4>We offer...</h4>
        </div>
        <div class="col-12">
            <div class="row text-center">
                <div class="col-4">
                    <i class="circle-icon-small dark-b fa-solid fa-heart"></i>
                </div>
                <div class="col-4">
                    <i class="circle-icon-small dark-b fa-solid fa-truck"></i>
                </div>
                <div class="col-4">
                    <i class="circle-icon-small dark-b fa-solid fa-credit-card"></i>
                </div>
            </div>
        </div>
        <div id="words" class="col-12 pt-5">
            <h4>Sustainability</h4>
        </div>
    </div>
</section>

<section class="text-dark-b my-4 d-none d-lg-block">
    <div class="container p-4">
        <div class="col-12">
            <div class="row text-center">
                <div class="col-4">
                    <i class="circle-icon dark-b fa-solid fa-heart"></i>
                    <h4 class="p-3">Pre-loved products</h4>
                    <p class="px-3">Discover a curated selection of gently used items, ready to find
                        a
                        new home.
                    </p>
                </div>
                <div class="col-4">
                    <i class="circle-icon dark-b fa-solid fa-truck"></i>
                    <h4 class="p-3">Free domestic shipping</h4>
                    <p class="px-3">No minimum purchase required, just sit
                        back
                        and let
                        us take care of the delivery.</p>
                </div>
                <div class="col-4">
                    <i class="circle-icon dark-b fa-solid fa-credit-card"></i>
                    <h4 class="p-3">Shop with confidence</h4>
                    <p class="px-3">Our secure payment system ensures your personal information is
                        protected
                        throughout the transaction</p>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- newsletter section -->
    <section class="bg-warning">
        <div class="container p-4">
    
            <!-- newsletter heading title -->
            <div class="col-12 text-center">
                <h4 class="pt-2">
                    <strong>Be the First to Hear About Our Newest Offers - Sign Up Today!</strong>
                </h4>
            </div>
    
            <!-- newsletter form -->
            <div class="col-12">
                <form method="POST" action="{% url 'home' %}">
                    {% csrf_token %}
                    <div class="row d-flex justify-content-center">
                        <!-- input text bar -->
                        <div class="col-lg-5">
                            <div class="form-outline form-white my-2">
                                    {{ subscription_form|crispy }}
                            </div>
                        </div>
    
                        <!-- submit button -->
                        <div class="col-auto">
                            <button type="submit" class="btn btn-clear my-2">
                                Subscribe
                            </button>
                        </div>
                    </div>
                </form>
            </div>
    
            <!-- newsletter subtext -->
            <div class="col-12 text-center">
                <p class="mt-2">
                    Stay up-to-date with the latest trends, exclusive offers, and exciting product releases.
                </p>
            </div>
        </div>
    </section>

<script>
    (function () {
        let words = [
            "<h4>Sustainability</h4>",
            "<h4>Free Domestic Shipping</h4>",
            "<h4>12 month warranty</h4>",
            "<h4>Secure Payment</h4>"
        ],
            i = 0;
        setInterval(function () {
            $('#words').fadeOut(function () {
                $(this).html(words[(i = (i + 1) % words.length)]).fadeIn();
            });
        }, 3000)
    })();

    $(document).ready(function () {
    $('.accordion-toggle').on('click', function(event){
        event.preventDefault();
        var accordion = $(this);
        var accordionContent = accordion.next('.accordion-content');

        accordion.toggleClass("open");
        accordionContent.slideToggle(250);

    });
});
</script>
{% endblock %}