{% extends "base.html" %}
{% block extra_title %}| Consoles | {{ console.name }}{% endblock %}
{% load static %}


{% block content %}
<section>
    <div class="container p-3 p-md-4 bg-white">

        <!-- first row -->
        <div class="row">

            <!-- product name and price-->
            <div class="col-12">
                <div class="p-3 p-md-4 mb-4">
                    <div class="d-md-flex justify-content-between">
                        <dt><h2>{{ console.name }}</h2></dt>

                        {% if console.available %}
                            {% if console.sale %}
                                <dd>
                                    <h3 class="text-red">
                                        From €{{ console.lowest_sale_price }}
                                        <del class="text-muted">
                                            (€{{ console.lowest_price }})
                                        </del>
                                    </h3>
                                </dd>
                            {% else %}
                                <dd>
                                    <h3>From €{{ console.lowest_price }}</h3>
                                </dd>
                            {% endif %}
                        {% else %}
                            <dd>
                                <h3>Out of stock</h3>
                            </dd>
                        {% endif %}
                    </div>

                    <!-- product stock information -->
                    <ul class="list-unstyled text-muted">
                        {% if console.available %}
                        <li>In stock&nbsp;
                            <i class="fa-solid fa-check stock">&nbsp;</i>
                            {% if console.in_stock <= 2 %} 
                                (only a few left)
                            {% endif %}
                        </li>
                        <li>
                            Available in:&nbsp;{{ console.conditions|join:", " }}
                        </li>
                        {% else %}
                            <li id="stock">
                                This item is currently out of stock
                            </li>
                        {% endif %}
                    </ul>
                    {% if request.user.is_superuser %}
                    <small class="ml-3 lead">
                        <a href="{% url 'edit_console' console.id %}">Edit</a>
                            /
                        <a class="text-danger" id="delete" href="{% url 'delete_product' console.id %}">Delete</a>
                    </small>
                {% endif %}
                </div>
            </div>
        </div>

        <!-- second row -->
        <div class="row mb-4">

            <!-- product image -->
            <div class="col-12 col-lg-6 text-center">
                <div class="shadow">
                    {% if console.image %}
                        <img class="card-img-top img-fluid" src="{{ console.image.url }}" alt="{{ console.name }}">
                    {% else %}
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ console.name }}">
                    {% endif %}
                </div>
            </div>

            <!-- console specifiactions -->
            <div class="col-12 col-lg-6">
                <div>
                    <div class="dark-b text-white p-3 pmd-4">
                        <h3>Specifications</h3>
                    </div>

                    <div class="p-3 p-md-4">
                        <dl>
                            <div class="d-flex justify-content-between">
                                <dt>Storage:</dt>
                                <dd>{{ console.storage_size }}</dd>
                            </div>
                            <div class="d-flex justify-content-between">
                                <dt>Color:</dt>
                                <dd>{{ console.color }}</dd>
                            </div>
                        </dl>
                    </div>

                    <!-- form for adding a product to the bag -->
                    <div class="p-3 p-md-4">
                        <form class="form" action="{% url 'add_to_bag' console.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12">
                                    <div class="form-group">
                                        {% if console.available %}
                                            <label for="quantity">Quantity:</label>
                                            <input class="form-control" type="number" name="quantity" value="1" min="1" max="{{ 3 }}" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                            <label for="condition">Condition:</label>
                                            <select class="form-control" id="id_condition" name="condition">
                                                {% for inventory in console.inventory_set.all %}
                                                    {% if inventory.stock_count > 0 %}
                                                        <option value="{{ inventory.condition }}" data-price="{{ inventory.price }}">
                                                            {{ inventory.get_condition_display }} - {% if console.sale %}€{{ inventory.sale_price }} (sale) {% else %}€{{ inventory.price }}{% endif %}</option>
                                                    {% else %}
                                                        <option disabled>{{ inventory.get_condition_display }} - out of stock</option>
                                                    {% endif %}
                                                {% endfor%}
                                            </select>
                                        {% else %}
                                            <label for="quantity">Quantity:</label>
                                            <input class="form-control" name="quantity" id="disabled" placeholder="This item is currently out of stock" disabled>
                                            <label for="condition">Condition:</label>
                                            <select class="form-control" name="condition" disabled>
                                                <option>This item is currently out of stock</option>
                                            </select>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-12 text-right">
                                    <a href="{% url 'products' %}" class="btn btn-clear mt-2">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    {% if console.available %}
                                        <input type="submit" class="btn btn-dark text-uppercase mt-2" value="Add to Cart">
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    {% else %}
                                        <input id="disabled-button" type="submit" class="btn btn-dark text-uppercase mt-2" value="Out of stock" disabled>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- modal for confirming the delete process of this product -->
<div id="delete-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete {{ console.name }}?</p>
          <p class="small text-muted">(All inventory data will be deleted for this product.)</p>
        </div>
        <div class="modal-footer">
            <a class="btn btn-danger" href="{% url 'delete_product' console.id %}">Delete</a>
          <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}

    {% include 'components/disabling_script.html' %}

{% endblock %}