{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">

{% endblock %}
{% block content%}
<section class="text-dark-b">
    <div class="container p-4 bg-white">

            <div class="row">
                <div class="col">
                    <h2 class="logo-font mb-4">Thank You for your order!</h2>
                    <p>Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong></p>
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-lg-7">
                    <div class="order-confirmation-wrapper p-2 border">
                        <div class="row">
                            <div class="col">
                                <small class="text-muted">Your order:</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">Order number:</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p>{{ order.order_number }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">date:</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p>{{ order.date }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <small class="text-muted">Details:</small>
                            </div>
                        </div>
                        {% for item in order.lineitems.all %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="small mb-0 text-black font-weight-bold">{{ item.product.name }} - {{ item.condition }}</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="small mb-0">{{ item.quantity }} @ €{{ item.product.price }} each</p>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="row">
                            <div class="col">
                                <small class="text-muted">Shipping:</small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">Full Name:</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p>{{ order.full_name }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">Address 1:</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p>{{ order.street_address1 }}</p>
                            </div>
                        </div>

                        {% if order.street_address2 %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">Address 2:</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p>{{ order.street_address2 }}</p>
                            </div>
                        </div>
                        {% endif %}

                        {% if order.county %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">County:</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p>{{ order.county }}</p>
                            </div>
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">City:</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p>{{ order.city }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">Country:</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p>{{ order.country }}</p>
                            </div>
                        </div>
                        
                        {% if order.postcode %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">Postal Code:</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p>{{ order.postcode }}</p>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">Phone Number:</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p>{{ order.phone_number }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <small class="text-muted">Billing:</small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">Order Total:</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p>{{ order.order_total }}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}
