{% extends "base.html" %}
{% load static %}


{% block content %}
<section>

    <!-- container -->
    <div class="container p-4 bg-white">

        <!-- row for the name for the laptop -->
        <div class="row">
            <div class="col-12">
                <div class="bg-white p-4 mb-4">
                    <h2>{{ laptop.name }}</h2>
                    <ul class="list-unstyled text-muted">
                        <li>
                            {% if laptop.available %}
                            In stock&nbsp;
                            <i class="fa-solid fa-check stock">
                                &nbsp;</i>
                            {% if laptop.in_stock <= 2 %} 
                                (only a few left)
                                {% endif %}
                            </li>
                        <li>
                            Available in:&nbsp;
                            {{ laptop.conditions|join:", " }}
                        </li> 
                        {% else %}
                            This item is not available
                            {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- row for the image and specifications -->
        <div class="row mb-4">
            <div class="col-12 col-lg-6 text-center">
                <div class="bg-white shadow">
                    {% if laptop.image %}
                    <a href="{{ laptop.img.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ laptop.image.url }}" alt="">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="/media/noimage.png" alt="">
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="">
                    <div class="dark-b text-white p-4">
                        <h3>Specifications</h3>
                    </div>

                    <div class="bg-white p-4">
                        <dl>
                            <div class="d-flex justify-content-between">
                                <dt class="font-weight-bold">CPU:</dt>
                                <dd>{{ laptop.cpu_brand }} {{ laptop.cpu_name }} {{ laptop.cpu_variant }}</dd>
                            </div>
                            <div class="d-flex justify-content-between">
                                <dt>Cores:</dt>
                                <dd>{{ laptop.cores }}</dd>
                            </div>
                            <div class="d-flex justify-content-between">
                                <dt>RAM:</dt>
                                <dd>{{ laptop.ram }}</dd>
                            </div>
                            <div class="d-flex justify-content-between">
                                <dt>Storage:</dt>
                                <dd>{{ laptop.storage_size }}</dd>
                            </div>
                            <div class="d-flex justify-content-between">
                                <dt>GPU:</dt>
                                <dd>{{ laptop.gpu }}</dd>
                            </div>
                            <div class="d-flex justify-content-between">
                                <dt>OS:</dt>
                                <dd>{{ laptop.os }}</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <!-- row for the features and extra details -->
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="">
                    <div class="dark-b text-white p-4">
                        <h3>Features</h3>
                    </div>
                    <div class="bg-white p-4">
                        <dl>
                            <div class="d-flex justify-content-between">
                                <dt>Color:</dt>
                                <dd>{{ laptop.color }}</dd>
                            </div>
                            <div class="d-flex justify-content-between">
                                <dt>Screen Size:</dt>
                                <dd>{{ laptop.screen_size }}"</dd>
                            </div>
                            <div class="d-flex justify-content-between">
                                <dt>Weight:</dt>
                                <dd>{{ laptop.weight }}</dd>
                            </div>
                            <div class="d-flex justify-content-between">
                                <dt>Keyboard:</dt>
                                <dd>{{ laptop.keyboard }}</dd>
                            </div>
                            <div class="d-flex justify-content-between">
                                <dt>Dimensions:</dt>
                                <dd>{{ laptop.dimensions }}</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-4">
                <div class="">
                    <div class="dark-b text-white p-4">
                        <h3>Extras</h3>
                    </div>
                    <div class="bg-white p-4">
                        <dl>
                            <div class="d-flex justify-content-between">
                                <dt>HDMI:</dt>
                                <dd>{{ laptop.hdmi }} {{ laptop.cpu_name }}</dd>
                            </div>
                            <div class="d-flex justify-content-between">
                                <dt>USB:</dt>
                                <dd>{{ laptop.usb }}</dd>
                            </div>
                            <div class="d-flex justify-content-between">
                                <dt>SSD:</dt>
                                <dd>{{ laptop.ssd }}</dd>
                            </div>
                            <div class="d-flex justify-content-between">
                                <dt>Touchscreen:</dt>
                                <dd>{{ laptop.touchscreen }}</dd>
                            </div>
                            <div class="d-flex justify-content-between">
                                <dt>Backlit Keyboard:</dt>
                                <dd>{{ laptop.backlit }}</dd>
                            </div>
                            <div class="d-flex justify-content-between">
                                <dt>Finger Print Sensor: </dt>
                                <dd>{{ laptop.finger_print_sensor }}</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <form class="form" action="{% url 'add_to_bag' laptop.id %}" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-12">
                    <p class="mt-3"><strong>Condition:</strong></p>
                    <div class="form-group w-50">
                            <label for="exampleFormControlSelect1">Example select</label>
                            <select class="form-control" id="exampleFormControlSelect1" name="condition" data-item_id="{{ laptop.id }}" id="id_qty_{{ laptop.id }}">
                              <option>acceptable</option>
                              <option>good</option>
                              <option>excellent</option>
                            </select>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                    <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </div>
        </form>
    </div>
</section>
{% endblock %}