{% extends "base.html" %}
{% block extra_title %}| Laptops | {{ laptop.name }}{% endblock %}
{% load static %}


{% block content %}
<section>
    <div class="container p-3 p-md-4 bg-white">

        <!-- first row -->
        <div class="row">

            <!-- product name and price-->
            <div class="col-12">
                <div class="p-3 p-md-4 mb-4">
                    <div class="d-md-flex justify-content-between">

                        <dt><h2>{{ laptop.name }}</h2></dt>
                        {% if laptop.available %}
                            {% if laptop.sale %}
                                <dd>
                                    <h3 class="text-red">
                                        From €{{ laptop.lowest_sale_price }}
                                        <del class="text-muted">
                                            (€{{ laptop.lowest_price }})
                                        </del>
                                    </h3>
                                </dd>
                            {% else %}
                                <dd>
                                    <h3>From €{{ laptop.lowest_price }}</h3>
                                </dd>
                            {% endif %}
                        {% else %}
                            <dd>
                                <h3>Out of stock</h3>
                            </dd>
                        {% endif %}
                    </div>

                    <!-- product stock information -->
                    <ul class="list-unstyled text-muted">
                        {% if laptop.available %}
                        <li>In stock&nbsp;
                            <i class="fa-solid fa-check stock">&nbsp;</i>
                            {% if laptop.in_stock <= 2 %} 
                                (only a few left)
                            {% endif %}
                        </li>
                        <li>
                            Available in:&nbsp;{{ laptop.conditions|join:", " }}
                        </li>
                        {% else %}
                            <li id="stock">
                                This item is currently out of stock
                            </li>
                        {% endif %}
                    </ul>
                    {% if request.user.is_superuser %}
                    <small class="ml-3 lead">
                        <a href="{% url 'edit_laptop' laptop.id %}">Edit</a>
                            /
                        <a class="text-danger" id="delete" href="{% url 'delete_product' laptop.id %}">Delete</a>
                    </small>
                {% endif %}
                </div>
            </div>
        </div>

        <!-- second row-->
        <div class="row mb-4">

            <!-- product image -->
            <div class="col-12 col-lg-6 text-center">
                <div class="shadow">
                    {% if laptop.image %}
                        <img class="card-img-top img-fluid" src="{{ laptop.image.url }}" alt="{{ laptop.name }}">
                    {% else %}
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ laptop.name }}">
                    {% endif %}
                </div>
            </div>

            <!-- laptop specifications -->
            <div class="col-12 col-lg-6">
                <div>
                    <div class="dark-b text-white p-3 p-md-4">
                        <h3>Specifications</h3>
                    </div>
                    <div class="p-3 p-md-4">
                        <dl>
                            <div class="d-md-flex justify-content-between">
                                <dt class="font-weight-bold">CPU:</dt>
                                <dd>{{ laptop.cpu }}</dd>
                            </div>
                            <div class="d-md-flex justify-content-between">
                                <dt>Cores:</dt>
                                <dd>{{ laptop.cores }}</dd>
                            </div>
                            <div class="d-md-flex justify-content-between">
                                <dt>RAM:</dt>
                                <dd>{{ laptop.ram }}</dd>
                            </div>
                            <div class="d-md-flex justify-content-between">
                                <dt>Storage:</dt>
                                <dd>{{ laptop.storage_size }}</dd>
                            </div>
                            <div class="d-md-flex justify-content-between">
                                <dt>GPU:</dt>
                                <dd>{{ laptop.gpu }}</dd>
                            </div>
                            <div class="d-md-flex justify-content-between">
                                <dt>OS:</dt>
                                <dd>{{ laptop.os }}</dd>
                            </div>
                        </dl>
                    </div>

                    <!-- form for adding a product to the bag -->
                    <div class="p-3 p-md-4">
                        <form class="form" action="{% url 'add_to_bag' laptop.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12">
                                    <div class="form-group">
                                        {% if laptop.available %}
                                            <label for="quantity">Quantity:</label>
                                            <input class="form-control" type="number" name="quantity" value="1" min="1" max="{{ laptop.inventory.stock_count }}" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                            <label for="condition">Condition:</label>
                                            <select class="form-control" id="id_condition" name="condition">
                                                {% for inventory in laptop.inventory_set.all %}
                                                    {% if inventory.stock_count > 0 %}
                                                        <option value="{{ inventory.condition }}" data-price="{{ inventory.price }}">
                                                            {{ inventory.get_condition_display }} - {% if laptop.sale %}€{{ inventory.sale_price }} (sale) {% else %}€{{ inventory.price }}{% endif %}</option>
                                                    {% else %}
                                                        <option disabled>{{ inventory.get_condition_display }} - out of stock</option>
                                                    {% endif %}
                                                {% endfor%}
                                            </select>
                                        {% else %}
                                            <label for="quantity">Quantity:</label>
                                            <input class="form-control" name="quantity" id="disabled" placeholder="This item is currently out of stock" disabled>
                                            <label for="condition">Condition:</label>
                                            <select class="form-control" name="condition" disabled>
                                                <option>This item is currently out of stock</option>
                                            </select>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-12 text-right">
                                    <a href="{% url 'products' %}" class="btn btn-clear mt-2">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    {% if laptop.available %}
                                        <input type="submit" class="btn btn-dark text-uppercase mt-2" value="Add to Cart">
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                    {% else %}
                                        <input id="disabled-button" type="submit" class="btn btn-dark text-uppercase mt-2" value="Out of stock" disabled>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- third row -->
        <div class="row">

            <!-- laptop features -->
            <div class="col-12 col-lg-6">
                <div>
                    <div class="dark-b text-white p-3 p-md-4">
                        <h3>Features</h3>
                    </div>
                    <div class="p-3 p-md-4">
                        <dl>
                            <div class="d-md-flex justify-content-between">
                                <dt>Color:</dt>
                                <dd>{{ laptop.color }}</dd>
                            </div>
                            <div class="d-md-flex justify-content-between">
                                <dt>Screen Size:</dt>
                                <dd>{{ laptop.screen_size }}"</dd>
                            </div>
                            <div class="d-md-flex justify-content-between">
                                <dt>Weight:</dt>
                                <dd>{{ laptop.weight }}</dd>
                            </div>
                            <div class="d-md-flex justify-content-between">
                                <dt>Keyboard:</dt>
                                <dd>{{ laptop.keyboard }}</dd>
                            </div>
                            <div class="d-md-flex justify-content-between">
                                <dt>Dimensions:</dt>
                                <dd>{{ laptop.dimensions }}</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>

            <!-- laptop extras -->
            <div class="col-12 col-lg-6 mb-4">
                <div>
                    <div class="dark-b text-white p-3 p-md-4">
                        <h3>Extras</h3>
                    </div>
                    <div class="p-3 p-md-4">
                        <dl>
                            <div class="d-md-flex justify-content-between">
                                <dt>HDMI:</dt>
                                <dd>{{ laptop.hdmi }} {{ laptop.cpu_name }}</dd>
                            </div>
                            <div class="d-md-flex justify-content-between">
                                <dt>USB:</dt>
                                <dd>{{ laptop.usb }}</dd>
                            </div>
                            <div class="d-md-flex justify-content-between">
                                <dt>SSD:</dt>
                                <dd>{{ laptop.ssd | yesno:"Yes, No" }}</dd>
                            </div>
                            <div class="d-md-flex justify-content-between">
                                <dt>Touchscreen:</dt>
                                <dd>{{ laptop.touchscreen | yesno:"Yes, No" }}</dd>
                            </div>
                            <div class="d-md-flex justify-content-between">
                                <dt>Backlit Keyboard:</dt>
                                <dd>{{ laptop.backlit | yesno:"Yes, No" }}</dd>
                            </div>
                            <div class="d-md-flex justify-content-between">
                                <dt>Finger Print Sensor: </dt>
                                <dd>{{ laptop.finger_print_sensor | yesno:"Yes, No" }}</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- modal for confirming the delete process of this product -->
<div id="delete-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete {{ laptop.name }}?</p>
          <p class="small text-muted">(All inventory data will be deleted for this product.)</p>
        </div>
        <div class="modal-footer">
            <a class="btn btn-danger" href="{% url 'delete_product' laptop.id %}">Delete</a>
          <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
    {{ block.super }}

    {% include 'components/disabling_script.html' %}

{% endblock %}