html {
    height: 100%;
}

body {
    padding-top: 80px;
    color: #011936;
    font-family: 'Lato';
    background-color: #F5F5F5;
}

.index-h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-weight: bold;
}

/* footer mishmash */

.payment-icon {
    width: 50px;
    height: auto;
}

.margin {
    margin-left: 200px;
    margin-right: 200px;
}
.power-icon {
    width: 100px;
    height: 100px;
    filter: contrast(0%);
}

.power-icon:hover {
    filter: contrast(100%);
    filter: drop-shadow(0 0 0.75rem rgb(20, 220, 53));
}

.aws {
    margin-top: 5px;
}

.aws:hover {
    filter: drop-shadow(0 0 0.75rem rgb(70, 20, 220));
}

.django:hover {
    filter: drop-shadow(0 0 0.75rem rgb(20, 220, 53));
}

.stripe:hover {
    filter: drop-shadow(0 0 0.75rem rgb(70, 20, 220));
}

/* footer mishmash */

/* card */

.card {
    border-radius: 1rem;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.1);
    transition: box-shadow 500ms;
}

.h-3 {
    height: 3rem;
}

.text-sm {
    font-size: 1rem;
}

.price {
    position: absolute;
    bottom: 0;
    right: 6%;
}

.sale {
    position: absolute;
    top: 2%;
    left: 2%;
}

.stock {
    position: absolute;
    bottom: 2%;
    left: 2%;
}

.lead {
    margin-bottom: 0;
}

.card-body {
    padding: 0;
}

.card:hover {
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.5);
}

.divider {
    border-left: 1px solid;
}

/* offer */

.circle-icon {
    color:#ffffff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
    font-size: 2.5em;
}

.circle-icon-small {
    color:#ffffff;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 15px;
    font-size: 1.5em;
}

/* offer */

#words {
    font-style: italic;
}

/* colours */

.white {
    background-color: #fff;
}

.light-b {
    background-color: #0091AD;
}

.dark-b {
    background-color: #011936;
}

.red {
    background-color: #ed254e;
}

.grey {
    background-color: #e0e0e0;
}

.black {
    background-color: #000000;
}

.white {
    background-color: #fff;
}

.text-light-b {
    color: #0091AD;
}

.text-dark-b {
    color: #011936;
}

.text-red {
    color: #ed254e;
}

.text-grey {
    color: #e0e0e0;
}

.text-black {
    color: #000000;
}

/* colours */

.border-white {
    border: 1px solid white;
}

.forest {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1)
      ), url(/media/clouds.jpg);
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  /* Additional styling for the body */
  /* Add other styling properties as needed */
}

/* accordion */

.fa-chevron-up {
    transition: all 0.3s ease;
 }
.btn-accordion.collapsed .fa-chevron-up {
  transform: rotate(180deg);
}

.btn-accordion {
    color:#011936;
}


.btn-accordion i {
    position: absolute;
    right: 25px;
}

.btn-accordion.collapse {
    transform: rotate(180deg);
}

.btn-accordion.collapsed .fa-chevron-down {
    transform: rotate(180deg);
}


.accordion-header {
	width: 100%;
	padding: 1.5rem;
	cursor: pointer;
	margin-top: 0.1rem;
	background-color: #ffffff;
	text-align: left;
	color: #011936;
    position: relative;
}

.accordion-body {
    width: 100%;
    padding: 1.5rem;
    background-color: #011936;
    cursor: pointer;
    color: #e0e0e0;
}


/* accordion */


/* nav */

.search-button {
    color:#011936;
    border-color: #011936;
}

.search-button:hover {
    color:#ffffff;
    background-color: #011936;
}

/* nav */

.hero-image-container {
    background: url('/media/hero_image_landing.jpg') no-repeat center no-repeat fixed;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }

.vh-75 {
    height: 75vh;
}

.vh-50 {
    height: 50vh;
}

.vh-25 {
    height: 25vh;
}

.scroll-section {
    height: 50vh;
}

html {
    scroll-snap-type: y mandatory;
    scroll-padding-top: 88px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {

}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .body {
        padding-top: 118px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {

    .custom-margin {
        margin-left: 7.5%;
    }

}