{% extends "base.html" %}
{% load static %}

<!-- content container -->
{% block content %}
<div class="container">

    <!-- product heading -->
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Smartwatches</h2>
        </div>
    </div>

    <!-- row for products-->
    <div class="row">

        <!-- smartwatch card for each smartwatch on medium screens and above -->
        {% include 'components/smartwatch_card.html' %}
    </div>
</div>

{% endblock %}