<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true">
                Laptops
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="{% url 'laptops' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold text-white nav-link mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true">
                Phones
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold text-white nav-link mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true">
                Smartwatches
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold text-white nav-link mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true">
                Gaming Consoles
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
        </li>
    </ul>
</div>