{% load static %}

<!doctype html>
<html lang="en">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Pre-loved electronics in good quality">
    <meta name="keywords"
        content="used electronics, used laptops, used phones, used smartwatches, used consoles,
        refurbished electronics, seconhand electronics, used electronics in mint condition,
        buy used laptop, buy used phone, buy used smartwatch, buy used console">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@0,400;1,700&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" type="image/ico" href="{{ MEDIA_URL }}favicon.ico">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/6e2061ab0f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>
        <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>TechCycle {% block extra_title %}{% endblock %}</title>
</head>

<body>

    <!-- navigation bar -->
    <header class="dark-b fixed-top">
        <div class="container">
        <div id="topnav" class="row dark-b pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link text-dark-b">
                    <h2 class="logo-font text-white my-0"><strong>TechCycle</strong></h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control" type="text" name="q"
                            placeholder="Search">
                        <div class="input-group-append">
                            <button type="submit" class="form-control btn search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-dark-b text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-white nav-link" href="#" id="user-options" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div>
                                    <i class="fas fa-user fa-lg"></i>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_laptop' %}" class="dropdown-item">Add laptop</a>
                            <a href="{% url 'add_phone' %}" class="dropdown-item">Add phone</a>
                            <a href="{% url 'add_smartwatch' %}" class="dropdown-item">Add smartwatch</a>
                            <a href="{% url 'add_console' %}" class="dropdown-item">Add console</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a href="{% url 'view_bag' %}"
                            class="{% if grand_total %}text-info font-weight-bold{% else %}text-white{% endif %} nav-link">
                            <div class="text-center">
                                <div><i class="fa-solid fa-cart-shopping fa-lg">
                                </i>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row dark-b">
            <nav class="navbar navbar-expand-lg w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="custom-toggler navbar-toggler-icon text-white"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/navbar.html' %}
            </nav>
        </div>
    </div>
    </header>
    <!-- navigation bar -->

    <!-- {% if messages %}
    <div class="message-container"></div>
    {% endif %} -->


    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}
    
    {% block footer %}
    <!-- footer -->
    <footer class="dark-b text-white">

        <div class="container p-4">
            <!-- social media links -->
            <div class="col-12 text-center mb-3">

                <!-- facebook -->
                <a class="btn text-white m-1" href="https://www.facebook.com/" role="button" target="_blank" aria-label="hyperlink to facebook" rel="nofollow">
                    <i class="fab fa-facebook-f fa-2x"></i>
                </a>

                <!-- instagram -->
                <a class="btn text-white m-1" href="https://www.instagram.com/kidwalksthe.earth/" role="button" target="_blank" aria-label="hyperlink to instagram" rel="nofollow">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>

                <!-- linkedin -->
                <a class="btn text-white m-1" href="https://www.linkedin.com/in/gabor-ficsor-58a936197/" role="button" target="_blank" aria-label="hyperlink to linkedin" rel="nofollow">
                    <i class="fab fa-linkedin-in fa-2x"></i>
                </a>
            </div>

            <!-- navigation links and tools -->
            <div class="col-12">
                <div class="row g-2">

                    <!-- navigation links column 1 -->
                    <div class="col-lg-3 col-sm-6 p-4">

                        <!-- links -->
                        <h5><strong>Links</strong></h5>
                        <ul class="list-unstyled mb-0">

                            <!-- laptops -->
                            <li>
                                <a href="{% url 'laptops' %}" class="text-white">Laptops</a>
                            </li>

                            <!-- phones -->
                            <li>
                                <a href="{% url 'phones' %}" class="text-white">Phones</a>
                            </li>

                            <!-- smartwatches -->
                            <li>
                                <a href="{% url 'smartwatches' %}" class="text-white">Smartwatches</a>
                            </li>

                            <!-- consoles -->
                            <li>
                                <a href="{% url 'consoles' %}" class="text-white">Consoles</a>
                            </li>

                        </ul>
                    </div>

                    <!-- navigation links column 2 -->
                    <div class="col-lg-3 col-sm-6 p-4">

                        <!-- about -->
                        <h5><strong>About</strong></h5>
                        <ul class="list-unstyled mb-0">

                            <!-- inspections -->
                            <li>
                                <a href="{% url 'inspections' %}" class="text-white">Inspections</a>
                            </li>

                            <!-- sustainability -->
                            <li>
                                <a href="{% url 'sustainability' %}" class="text-white">Sustainability</a>
                            </li>

                            <!-- conditions -->
                            <li>
                                <a href="{% url 'conditions' %}" class="text-white">Conditions</a>
                            </li>

                            <!-- privacy policy -->
                            <li>
                                <a href="{% url 'policy' %}" class="text-white">Policy</a>
                            </li>

                        </ul>
                    </div>

                    <!-- navigation links column 3 -->
                    <div class="col-lg-3 col-sm-6 p-4">

                        <!-- navigation -->
                        <h5><strong>Navigation</strong></h5>
                        <ul class="list-unstyled mb-0">

                            <!-- home -->
                            <li>
                                <a href="{% url 'home' %}" class="text-white">Home</a>
                            </li>

                            <!-- products -->
                            <li>
                                <a href="{% url 'products' %}" class="text-white">Products</a>
                            </li>

                            <!-- cart -->
                            <li>
                                <a href="{% url 'view_bag' %}" class="text-white">Cart</a>
                            </li>

                            <li>
                                <a href="{% url 'products' %}?sale=true" class="text-white">Sale</a>
                            </li>

                        </ul>
                    </div>

                    <!-- navigation links column 4 -->
                    <div class="col-lg-3 col-sm-6 p-4">

                        <!-- payment options -->
                        <h5><strong>Payment options</strong></h5>

                        <!-- apple pay logo -->
                        <img class="payment-icon" src="{{ MEDIA_URL }}apple-pay.png" alt="logo of apple pay">

                        <!-- visa logo -->
                        <img class="payment-icon" src="{{ MEDIA_URL }}visa.png" alt="logo of visa">

                        <!-- master-card logo -->
                        <img class="payment-icon" src="{{ MEDIA_URL }}master-card.png" alt="logo of mastercard">

                        <!-- paypal logo -->
                        <img class="payment-icon" src="{{ MEDIA_URL }}paypal.png" alt="logo of paypal">

                    </div>

                </div>

                <!-- tools -->
                <div class="row text-center">

                    <!-- stripe logo and hyperlink -->
                    <div class="col-12 col-sm-4">
                        <a href="https://stripe.com/" target="_blank" rel="nofollow"
                            aria-label="hyperlink to the official stripe website">
                            <img class="power-icon stripe" src="{{ MEDIA_URL }}stripe.png"
                                alt="logo of the Stripe Payment Service">
                        </a>
                    </div>

                    <!-- django logo and hyperlink -->
                    <div class="col-12 col-sm-4">
                        <a href="https://www.djangoproject.com/" target="_blank" rel="nofollow"
                            aria-label="hyperlink to the official django website">
                            <img class="power-icon django" src="{{ MEDIA_URL }}django.png" alt="logo of the Django Framework">
                        </a>
                    </div>

                    <!-- aws logo and hyperlink -->
                    <div class="col-12 col-sm-4">
                        <a href="https://aws.amazon.com/" target="_blank" rel="nofollow"
                            aria-label="hyperlink to the official amazon web services website">
                            <img class="power-icon aws" src="{{ MEDIA_URL }}aws.png" alt="logo of Amazon Web Services">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- disclaimer -->

    </footer>
    {% endblock %}

    {% block disclaimer %}
    <div class="text-center black p-3">
        <p class="text-muted">This project is for educational purposes only | © Gabor Ficsor - 2023 </p>
    </div>
    {% endblock %}

    {% block postloadjs %}
        <script type="text/javascript">
            $('.toast').toast('show');
        </script>

    {% endblock %}

</body>

</html>