{% extends "base.html" %}
{% load static %}

{% block page.header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<section>

    <!-- container -->
    <div class="container p-4">

        <!-- row for the name for the phone -->
        <div class="row">
            <div class="col-12">
                <div class="bg-white p-4 shadow mb-4">
                    <h2>{{ phone.name }}</h2>
                    <ul class="list-unstyled text-muted">
                        <li>
                            {% if phone.available %}
                            In stock&nbsp;
                            <i class="fa-solid fa-check stock">
                                &nbsp;</i>
                            {% if phone.in_stock <= 2 %} 
                                (only a few left)
                                {% endif %}
                            </li>
                        <li>
                            Available in:&nbsp;
                            {{ phone.conditions|join:", " }}
                        </li> 
                        {% else %}
                            This item is not available
                            {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- row for the image and specifications -->
        <div class="row mb-4">
            <div class="col-12 col-lg-6 text-center">
                <div class="bg-white shadow">
                    {% if phone.image %}
                    <a href="{{ phone.img.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ phone.image.url }}" alt="">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="/media/noimage.png"
                            alt="">
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="shadow">
                    <div class="dark-b text-white p-4">
                        <h3>Specifications</h3>
                    </div>

                    <div class="bg-white p-4">
                        <dl>
                            <div class="d-flex justify-content-between">
                                <dt class="font-weight-bold">CPU:</dt>
                                <dd>{{ phone.cpu }}</dd>
                            </div>
                            <div class="d-flex justify-content-between">
                                <dt>RAM:</dt>
                                <dd>{{ phone.ram }}</dd>
                            </div>
                            <div class="d-flex justify-content-between">
                                <dt>Storage:</dt>
                                <dd>{{ phone.storage_size }}</dd>
                            </div>
                            <div class="d-flex justify-content-between">
                                <dt>OS:</dt>
                                <dd>{{ phone.os }}</dd>
                            </div>
                            <div class="d-flex justify-content-between">
                                <dt>Resolution:</dt>
                                <dd>{{ phone.resolution }}</dd>
                            </div>
                            <div class="d-flex justify-content-between">
                                <dt>Screen Size:</dt>
                                <dd>{{ phone.screen_size }}"</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <!-- row for the button -->
        <div class="row">
            <div class="col-12">
                <div class="bg-white p-4 shadow mb-4">
                    button
                </div>
            </div>
        </div>

        <!-- row for the features and extra details -->
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="shadow">
                    <div class="dark-b text-white p-4">
                        <h3>Camera</h3>
                    </div>
                    <div class="bg-white p-4">
                        <dl>
                            <div class="d-flex justify-content-between">
                                <dt>Front:</dt>
                                <dd>{{ phone.camera_front }}"</dd>
                            </div>
                            <div class="d-flex justify-content-between">
                                <dt>Rear:</dt>
                                <dd>{{ phone.camera_rear }}"</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-4">
                <div class="shadow">
                    <div class="dark-b text-white p-4">
                        <h3>Extras</h3>
                    </div>
                    <div class="bg-white p-4">
                        <dl>
                            <div class="d-flex justify-content-between">
                                <dt>SIM:</dt>
                                <dd>{{ phone.sim }}</dd>
                            </div>
                            <div class="d-flex justify-content-between">
                                <dt>Battery:</dt>
                                <dd>{{ phone.battery }}</dd>
                            </div>
                            <div class="d-flex justify-content-between">
                                <dt>Color:</dt>
                                <dd>{{ phone.color }}</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}