<!-- a modal for important information on adding products -->
<div class="row">
    <div class="col-12 col-md-6">
        <div class="alert alert-warning" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5>Stock info notice</h5>
            <p class="small">Adding a product does not automatically generate stock numbers. If you need to specify
                stock quantities, you can do so by navigating to edit/edit inventory.</p>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="alert alert-warning" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5>Price notice</h5>
            <p class="small">When adding a product please add price for what should be the price of the best condition.
                The rest of the prices will be added accordingly.</p>
        </div>
    </div>
</div>