{% for phone in phones %}
        <div class="d-none d-md-block col-12 col-lg-6">
            <div class="row custom-margin">
                <div class="container p-4">

                    <!-- card image -->
                    <div class="card border-0 mb-3 p-3" style="max-width:540px;">
                        <div class="row g-0">

                            <!-- phone image -->
                            <div class="col-6 text-center">
                                {% if phone.image %}
                                <a href="{% url 'phone_detail' phone.id %}">
                                    <img class="card-img-top img-fluid" src="{{ phone.image.url }}" alt="">
                                </a>
                                {% else %}
                                <a href="{% url 'phone_detail' phone.id %}">
                                    <img class="card-img-top img-fluid" src="/media/noimage.png" alt="">
                                </a>
                                {% endif %}
                            </div>

                            <!-- if the phone is on sale display a red box -->
                            {% if phone.sale %}
                            <div class="sale">
                                sale
                            </div>
                            {% endif %}

                            <!-- card body for phone details -->
                            <div class="col-6 position-relative border-left">
                                <div class="card-body">

                                    <!-- phone name -->
                                    <h5 class="card-title h-3 text-sm">
                                        {{ phone.brand }} {{ phone.series}} {{ phone.model }}
                                    </h5>

                                    <!-- phone specifications and details -->
                                    <ul class="list-unstyled text-muted d-none d-md-block">
                                        <li>{{ phone.ram }}</li>
                                        <li>{{ phone.storage_size}}</li>
                                        <li>{{ phone.screen_size }}"</li>
                                        <li>
                                            {% if phone.available %}
                                                In stock&nbsp;<i class="fa-solid fa-check stock">&nbsp;</i>
                                                {% else %}
                                                Out of stock
                                            {% endif %}
                                        </li>
                                    </ul>

                                    <!-- if phone is on sale show discounted price, else show regular price -->
                                    {% if phone.sale %}
                                    <div class="price">
                                        <p class="lead font-weight-bold text-right text-red">€{{ phone.sale_price }}</p>
                                    </div>
                                    {% else %}
                                    <div class="price">
                                        <p class="lead font-weight-bold text-right">€{{ phone.price }}</p>
                                    </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <!-- phone card for each phone on screens below medium -->
        {% for phone in phones %}
        <div class="d-md-none col-12 col-lg-6">
            <div class="row">
                <div class="container p-4">

                    <!-- card image -->
                    <div class="card border-0 mb-3 p-4" style="max-width:540px;">
                        <div class="row g-0">
                            <div class="col-12 text-center">

                                <!-- phone image -->
                                {% if phone.image %}
                                <a href="{% url 'phone_detail' phone.id %}">
                                    <img class="card-img-top img-fluid" src="{{ phone.image.url }}" alt="">
                                </a>
                                {% else %}
                                <a href="{% url 'phone_detail' phone.id %}">
                                    <img class="card-img-top img-fluid" src="/media/noimage.png" alt="">
                                </a>
                                {% endif %}

                                <!-- if phone is on sale display a red box -->
                                {% if phone.sale %}
                                <div class="sale">
                                    sale
                                </div>
                                {% endif %}

                                <!-- card body for phone details -->
                            </div>
                            <div class="col-12 position-relative">
                                <div class="card-body">

                                    <!-- phone name -->
                                    <h5 class="card-title h-3 border-bottom text-truncate">
                                        {{ phone.brand }} {{ phone.series}} {{ phone.model }}
                                    </h5>

                                    <!-- phone specifications and details -->
                                    <p class="text-muted border-bottom h-3 text-truncate">
                                        {{ phone.ram }} | {{ phone.storage_size}} | {{ phone.screen_size }}"</p>

                                    <!-- if phone is on sale show discounted price, else show regular price -->
                                    <div class="d-flex justify-content-between">
                                        {% if phone.sale %}
                                        <span class="lead text-red">{{ phone.sale_price }}</span>
                                        {% else %}
                                        <span class="lead">{{ phone.price }}</span>
                                        {% endif %}
                                        {% if console.sale %}
                                        <span class="lead text-red">{{ console.sale_price }}</span>
                                        {% else %}
                                        <span class="lead">{{ console.price }}</span>
                                        {% endif %}
                                        {% if phone.available %}
                                        <span>
                                            In stock&nbsp;<i class="fa-solid fa-check stock">&nbsp;</i>
                                            {% else %}
                                            Out of stock
                                            </span>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
