{% for smartwatch in smartwatches %}
    <div class="d-none d-md-block col-12 col-lg-6">
        <div class="row custom-margin">
            <div class="container p-4">

                <!-- card image -->
                <div class="card border-0 mb-3 p-3">
                    <div class="row g-0">

                        <!-- smartwatch image -->
                        <div class="col-6 text-center">
                            {% if smartwatch.image %}
                                {% if smartwatch.available %}
                                    <a href="{% url 'smartwatch_detail' smartwatch.id %}">
                                        <img class="card-img-top img-fluid" src="{{ smartwatch.image.url }}" alt="{{ smartwatch.name }}">
                                    </a>
                                {% else %}
                                    <a href="{% url 'smartwatch_detail' smartwatch.id %}">
                                        <img class="card-img-top img-fluid saturation" src="{{ smartwatch.image.url }}" alt="{{ smartwatch.name }}">
                                    </a>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'smartwatch_detail' smartwatch.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ smartwatch.name }}">
                                </a>
                            {% endif %}
                        </div>

                        <!-- if the smartwatch is on sale display a red box-->
                        {% if smartwatch.available and smartwatch.sale %}
                        <div class="sale">
                            sale
                        </div>
                        {% endif %}

                        <!-- card body for smartwatch details -->
                        <div class="col-6 position-relative border-left">
                            <div class="card-body">

                                <!-- smartwatch name -->
                                <h5 class="card-title h-3 text-sm">
                                    {{ smartwatch.name }}
                                </h5>

                                <!-- smartwatch specifiactions and details -->
                                <ul class="list-unstyled text-muted d-none d-md-block">
                                    <li>{{ smartwatch.display }} display</li>
                                    <li>{{ smartwatch.screen_size }}"</li>
                                    <li>{{ smartwatch.resolution }}</li>
                                    <li>
                                        {% if smartwatch.available %}
                                            In stock&nbsp;<i class="fa-solid fa-check stock">&nbsp;</i>
                                        {% endif %}
                                    </li>
                                </ul>

                                <!-- if smartwatch is on sale show discounted price, else show regular price -->
                                {% if smartwatch.available %}
                                    {% if smartwatch.sale %}
                                        <div class="price">
                                            <p class="lead font-weight-bold text-right text-red">from €{{ smartwatch.lowest_sale_price }}</p>
                                        </div>
                                    {% else %}
                                    <div class="price">
                                        <p class="lead font-weight-bold text-right">from €{{ smartwatch.lowest_price }}</p>
                                    </div>
                                {% endif %}
                                {% else %}
                                    <div class="price">
                                        <p class="lead font-weight-bold text-right">Out of stock</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- smartwatch card for each smartwatch on screens below medium -->
    {% for smartwatch in smartwatches %}
    <div class="d-md-none col-12 col-lg-6">
        <div class="row">
            <div class="container p-4">

                <!-- card image -->
                <div class="card border-0 mb-3 p-4">
                    <div class="row g-0">
                        <div class="col-12 text-center">

                            <!-- smartwatch image -->
                            {% if smartwatch.image %}
                                {% if smartwatch.available %}
                                    <a href="{% url 'smartwatch_detail' smartwatch.id %}">
                                        <img class="card-img-top img-fluid" src="{{ smartwatch.image.url }}" alt="{{ smartwatch.name }}">
                                    </a>
                                {% else %}
                                    <a href="{% url 'smartwatch_detail' smartwatch.id %}">
                                        <img class="card-img-top img-fluid saturation" src="{{ smartwatch.image.url }}" alt="{{ smartwatch.name }}">
                                    </a>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'smartwatch_detail' smartwatch.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ smartwatch.name }}">
                                </a>
                            {% endif %}

                            <!-- if the smartwatch is on sale display a red box-->
                            {% if smartwatch.available and smartwatch.sale %}
                            <div class="sale">
                                sale
                            </div>
                            {% endif %}
                        </div>

                        <!-- card body for smartwatch details -->
                        <div class="col-12 position-relative">
                            <div class="card-body">

                                <!-- smartwatch name -->
                                <h5 class="card-title h-3 border-bottom text-truncate">
                                    {{ smartwatch.brand }} {{ smartwatch.series}} {{ smartwatch.model }}
                                </h5>

                                <!-- smartwatch specifiactions and details -->
                                <p class="text-muted border-bottom h-3 text-truncate">
                                    {{ smartwatch.display }} display | {{ smartwatch.screen_size }}" | {{ smartwatch.resolution }}</p>

                                <!-- if smartwatch is on sale show discounted price, else show regular price -->
                                <div class="d-flex justify-content-between">
                                    {% if smartwatch.available %}
                                        {% if smartwatch.sale %}
                                            <span class="lead text-red">From €{{ smartwatch.lowest_sale_price }}</span>
                                        {% else %}
                                            <span class="lead">From €{{ smartwatch.lowest_price }}</span>
                                        {% endif %}
                                    {% else %}
                                        <span class="lead">Out of stock</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}