{% extends "base.html" %}
{% load static %}
{% block extra_title %}| Editing: {{ laptop }}{% endblock %}
{% load crispy_forms_tags %}


{% block content%}
<section class="text-dark-b">
    <div class="container p-4 bg-white">

        <div class="row pb-5">
            <div class="col-12">
                <h2 class="logo-font mb-4">Edit {{ laptop }}</h2>
                <a href="{% url 'edit_laptop_inventory' laptop.id %}">edit inventory</a>
            </div>
        </div>

        <!-- form for adding a laptop -->
        <form method="POST" action="{% url 'edit_laptop' laptop.id %}" class="form mb-2" enctype="multipart/form-data">
            {% csrf_token %}
            
            <!-- main laptop details -->
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-sub-group mb-5">
                        <span class="form-sub-group-title">Product details</span>
                        {{ laptop_form.category|as_crispy_field }}
                        {{ laptop_form.brand|as_crispy_field }}
                        {{ laptop_form.series|as_crispy_field }}
                        {{ laptop_form.model|as_crispy_field }}
                        {{ laptop_form.color|as_crispy_field }}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-sub-group mb-07">
                        <span class="form-sub-group-title">Price</span>
                        {{ laptop_form.price|as_crispy_field }}
                        {{ laptop_form.sale|as_crispy_field }}
                        {{ laptop_form.sale_price|as_crispy_field }}
                    </div>
                    <div class="form-sub-group mb-5">
                        <span class="form-sub-group-title">Image</span>
                        {{ laptop_form.image|as_crispy_field }}
                        {{ laptop_form.image_url|as_crispy_field }}
                    </div>
                </div>
            </div>

            <!-- secondary laptop details -->
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-sub-group mb-5">
                        <span class="form-sub-group-title">Specifications</span>
                        {{ laptop_form.label|as_crispy_field }}
                        {{ laptop_form.cpu_brand|as_crispy_field }}
                        {{ laptop_form.cpu_name|as_crispy_field }}
                        {{ laptop_form.cpu_variant|as_crispy_field }}
                        {{ laptop_form.cores|as_crispy_field }}
                        {{ laptop_form.ram|as_crispy_field }}
                        {{ laptop_form.storage_size|as_crispy_field }}
                        {{ laptop_form.gpu|as_crispy_field }}
                        {{ laptop_form.os|as_crispy_field }}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-sub-group mb-07">
                        <span class="form-sub-group-title">Features</span>
                        {{ laptop_form.weight|as_crispy_field }}
                        {{ laptop_form.screen_size|as_crispy_field }}
                        {{ laptop_form.dimensions|as_crispy_field }}
                    </div>
                    <div class="form-sub-group mb-07">
                        <span class="form-sub-group-title">Extras</span>
                        {{ laptop_form.hdmi|as_crispy_field }}
                        {{ laptop_form.usb|as_crispy_field }}
                        {{ laptop_form.keyboard|as_crispy_field }}
                        {{ laptop_form.touchscreen|as_crispy_field }}
                        {{ laptop_form.backlit|as_crispy_field }}
                        {{ laptop_form.finger_print_sensor|as_crispy_field }}
                    </div>

                    <!-- form submit and cancel buttons -->
                    <div class="text-right mt-5">
                        <a class="btn btn-clear btn-lg" href="{% url 'laptop_detail' laptop.id %}">Cancel</a>
                        <button class="btn btn-dark btn-lg" type="submit">Update Product</button>
                    </div>
                </div>
            </div>
        </form>
    </div>    
</section>

{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">

    $(document).ready(function () {
        $('#id_category').val(1);
    })

</script>
{% endblock %}
