{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_title %}| Editing: {{ smartwatch }}{% endblock %}


{% block content%}
<section class="text-dark-b">
    <div class="container p-4 bg-white">

        <div class="row pb-5">
            <div class="col-12 col-md-6">
                <h2 class="logo-font mb-4">Edit {{ smartwatch }}</h2>
                <a href="{% url 'edit_smartwatch_inventory' smartwatch.id %}">edit inventory</a>
            </div>
        </div>

        <!-- form for adding a smartwatch -->
        <form method="POST" action="{% url 'edit_smartwatch' smartwatch.id %}" class="form mb-2" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- main smartwatch details -->
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-sub-group mb-5">
                        <span class="form-sub-group-title">Product details</span>
                        {{ smartwatch_form.category|as_crispy_field }}
                        {{ smartwatch_form.brand|as_crispy_field }}
                        {{ smartwatch_form.series|as_crispy_field }}
                        {{ smartwatch_form.model|as_crispy_field }}
                        {{ smartwatch_form.color|as_crispy_field }}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-sub-group mb-07">
                        <span class="form-sub-group-title">Price</span>
                        {{ smartwatch_form.price|as_crispy_field }}
                        {{ smartwatch_form.sale|as_crispy_field }}
                        {{ smartwatch_form.sale_price|as_crispy_field }}
                    </div>
                    <div class="form-sub-group mb-07">
                        <span class="form-sub-group-title">Image</span>
                        {{ smartwatch_form.image|as_crispy_field }}
                        {{ smartwatch_form.image_url|as_crispy_field }}
                    </div>
                </div>
            </div>

            <!-- secondary smartwatch details -->
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-sub-group mb-5">
                        <span class="form-sub-group-title">Specifications</span>
                        {{ smartwatch_form.connectivity|as_crispy_field }}
                        {{ smartwatch_form.display|as_crispy_field }}
                        {{ smartwatch_form.screen_size|as_crispy_field }}
                        {{ smartwatch_form.resolution|as_crispy_field }}
                        {{ smartwatch_form.water_resistance|as_crispy_field }}
                        {{ smartwatch_form.heart_rate_monitor|as_crispy_field }}
                        {{ smartwatch_form.gps|as_crispy_field }}
                        {{ smartwatch_form.os|as_crispy_field }}
                    </div>

                    <!-- form submit and cancel buttons -->
                    <div class="text-right mt-5">
                        <a class="btn btn-clear btn-lg" href="{% url 'smartwatch_detail' smartwatch.id %}">Cancel</a>
                        <button class="btn btn-dark btn-lg" type="submit">Update Product</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>

    $(document).ready(function () {
        $('#id_category').val(3);
    })

</script>
{% endblock %}
