{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">All Products</h2>
        </div>
    </div>

    <div class="row">
        <div class="col text-center mt-3">
            {% for category in categories %}

            <a class="btn btn-clear" href="{% url 'products' %}?category={{category}}">
                {{ category }}
            </a>
            not working!!!!
        {% endfor %}
        </div>
    </div>

    <div class="row">
        {% include 'components/laptop_card.html' %}
        {% include 'components/phone_card.html' %}
        {% include 'components/console_card.html' %}
        {% include 'components/smartwatch_card.html' %}
    </div>

</div>
<div class="d-flex" style="height: 200px;">
    <div class="vr"></div>
</div>
{% endblock %}